* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: 300px;
  margin: 100px auto 0;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.allTabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.activeTabs  {
  background: white;
  border-bottom: 1px solid transparent;
}

button {
  border: none;
}

.contentTabs {
  flex-grow : 1;
}
.content {
  padding: 20px;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 120px;
  background: #222;
  margin-bottom: 7px;
}

.currentContent {
  display: block;
}
